#root {
  width: 100vw;
  height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  background-color: #f5f5f5;
  text-align: center;
}

.logo {
  padding: 1.5em;
  width: 20rem;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Nav */

.navigation-bar {
  display: flex;
  flex-direction: row;  
  justify-content: space-between;
  background-color: #ffffff;
  height: 5vh;
  width: 100vw;
}

.left,
.right,
.media {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dropdown {
  display: flex;
}

.dropdown-menu {
  border: none;
  padding-top: 14px;
  padding-bottom: 17px;
  margin: 0;
}

.dropdown-menu li {
  font-family: 'Avenir-Heavy';
}

.left .logo {
  margin: 0px 17px;
  background-position-y: center;
}

.left {
  width: 100%;
}

.nav-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.desktop-title h1,
.mobile-title h1 {
  font-size: 17px;
  font-family: 'Avenir-Heavy';
  margin: 0;
}

/* 787878 grey */

.desktop-title h1 {
  color: #ee572a;
}

.right .user-img {
  margin-right: 14px;  
}

.right {
  margin-right: 12px; 
}

.right p {
  font-family: 'Avenir-Heavy';
  margin: 0;
}

.img-circle {
  height: 31px;
}

/*  Jumbotron  */
.jumbotron {
  background-color: #ffffff;
  margin-top: 18px;
  border-radius: 7px;
}

.jumbotron p {
  margin-left: 5px;
}

.jumboTopImg {
  background-image: url('./assets/beginner-php-fundamentals@3x.png');
  background-size: 77px, auto;
  background-repeat: no-repeat;
  height: 54px;
}

.jumboTopTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.php-logo {
  background-image: url('./assets/beginner-php-fundamentals@3x.png');
  background-size: 77px, auto;
  background-repeat: no-repeat;
}

.bottomTitle {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-left: 8%;
}

.bottomTitle h4,
.bottomTitle p {
  font-size: 21px;
}

.btn-orange {
  background: #ee572a;
  color: #ffffff;
  font-family: 'Avenir-Heavy';
  font-size: 10px;
  height: 25px;
  width: 200px;
  margin: 10px;
}

.trial-container {
  text-align: left;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin-bottom: 68px;
}

.trial-container h4 {
  margin-left: 8%;
}

.trial-container .cards {
  display: flex;
  flex-direction: row;
  margin-top: 28px;
}

/* cards */

.media {
  margin-right: 25px;
  margin-top: 15px;
  margin-bottom: 14px;
}

.media-body {
  background: #ffffff;
  height: 57px;
  width: 146px;
}
.media-title {
  background: #ffffff;
  height: 57px;
  margin-right: 0;
  width: 84px;
  background-image: url('./assets/layer-115@3x.png');
  background-size: 84px, auto;
  background-repeat: no-repeat;
}

.media .pull-left {
  margin-right: 0;
}

.media-object {
  width: 84%;
  margin-left: 11px;
  margin-top: 3px;
}

.title-object {
  width: 50%;
  margin: 13px;
}


/* extra coursePage styles */

.btn-group {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.btn.btn-default {
  color: #ee572a;
  background-color: none;
  border-color: #ee572a;
  border-radius: 6px !important;
  background: no-repeat;
  font-family: 'Avenir-medium';
  margin: 10px;
}

.btn-group .btn-default {
  width: 200px;
}

.jumboTopBtn {
  background-color: #ee572a;
  color: #ffffff;
}

.selected {
  background-color: #ee572a !important;
  color: #ffffff !important;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Large desktops and laptops */
@media (min-width: 1200px) {
  .left .logo {
    background-image: url('./assets/url@3x.png');
    background-size: 140px, auto;
    background-repeat: no-repeat;
  }

  .nav-title.mobile-title {
    display: none;
  }

  .php-logo {
    background-image: url('./assets/beginner-php-fundamentals@3x.png');
    background-size: 140px, auto;
    background-repeat: no-repeat;
  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .left .logo {
    background-image: url('./assets/url@3x.png');
    background-size: 140px, auto;
    background-repeat: no-repeat;
  }

  .nav-title.mobile-title {
    display: none;
  }

  .navigation-bar {
    height: 6rem;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .left .logo {
    background-image: url('./assets/url@2x.png');
    background-size: 166px 27px;
    background-repeat: no-repeat;
  }

  .nav-title.mobile-title {
    display: none;
  }

  .navigation-bar {
    height: 8vh;
  }

  .trial-container {
    align-items: center;
  }

  .trial-container h4 {
    margin-left: 0;
  }
  
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .left .logo {
    background-image: url('./assets/url@2x.png');
    background-size: 166px 27px;
    background-repeat: no-repeat;
  }

  .nav-title.desktop-title {
    display: none;
  }

  .navigation-bar {
    height: 8vh;
  }

  .trial-container .cards {
    display: flex;
    flex-direction: column;
  }

  .trial-container {
    align-items: center;
  }

  .trial-container h4 {
    margin-left: 0;
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  .left .logo {
    background-image: url('./assets/url.png');
    background-size: 108px, auto;
    background-repeat: no-repeat;
  }
   .logo {
    width: 110px;
   }

  .mobile-title h1 {
    font-size: 14px;
  }

  .img-circle {
    height: 21px;
  }

  .right .user-img {
    margin-right: 7px;
  }

  .navigation-bar {
    height: 4vh;
  }

  .trial-container .cards {
    display: flex;
    flex-direction: column;
  }

  .trial-container {
    align-items: center;
  }

  .trial-container h4 {
    margin-left: 0;
  }
}


