#root {
  height: auto;
  margin: 0 auto;
  background-color: #f5f5f5;
  text-align: center;
  width: 100vw;
  max-width: 1280px;
  min-height: 100vh;
  min-width: 100vw;
}

hr {
  border-top: 1px solid #d5d5d5;
}

.glyphicon {
  position: relative;
  left: 5px;
}

.glyphicon-question-sign {
  color: #787878;
}

.logo {
  padding: 1.5em;
  width: 20rem;
  will-change: filter;
  transition: filter 300ms;
}

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Nav */

.navigation-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
  height: 5vh;
  width: 100%;
}

.left,
.right,
.media {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dropdown {
  display: flex;
}

.dropdown-menu {
  border: none;
  padding-top: 14px;
  padding-bottom: 17px;
  margin: 0;
}

.dropdown-menu li {
  font-family: "Avenir-Heavy";
}

.left .logo {
  margin: 0px 17px;
  background-position-y: center;
}

.left {
  width: 100%;
}

.nav-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.desktop-title h1,
.mobile-title h1 {
  font-size: 17px;
  font-family: "Avenir-Heavy";
  margin: 0;
}

.desktop-title h1 {
  color: #ee572a;
}

.right .user-img {
  margin-right: 14px;
}

.right {
  margin-right: 12px;
}

.right p {
  font-family: "Avenir-Heavy";
  margin: 0;
}

.img-circle {
  height: 31px;
}

/*  Jumbotron  */
.jumbotron {
  background-color: #ffffff;
  box-shadow: 10px 10px 5px #aaaaaa14;
  margin-top: 18px;
  border-radius: 7px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.jumbotron p {
  margin-left: 5px;
}

.jumboTopImg {
  background-image: url("../public/assets/beginner-php-fundamentals@3x.png");
  background-size: 122px, auto;
  background-repeat: no-repeat;
  background-position-y: center;
  height: 97px;
  width: 27%;
}

.jumboTopTitle {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.jumboTopTitle h4 {
  font-family: "Avenir-Medium";
  font-size: 20px !important;
  margin-bottom: 20px;
}

.php-logo {
  background-image: url("../public/assets/beginner-php-fundamentals@3x.png");
  background-size: 77px, auto;
  background-repeat: no-repeat;
}

.bottomTitle {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-left: 8%;
}

.bottomTitle h4,
.bottomTitle p {
  font-size: 17px;
}

.bottomTitle h4 {
  font-family: "Avenir-Heavy";
}

.bottomTitle h4 {
  font-family: "Avenir-Heavy";
}

.bottomTitle h4 small {
  font-family: "Avenir-Light";
  color: #000000;
}

.no-space-left {
  margin-left: 0 !important;
}

.btn-orange {
  background: #ee572a;
  color: #ffffff;
  font-family: "Avenir-Heavy";
  font-size: 10px;
  height: 25px;
  width: 200px;
  margin: 10px;
}

.trial-container {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.trial-container h4 {
  margin-left: 8%;
}

.trial-container .cards {
  display: flex;
  flex-direction: row;
  margin-top: 28px;
}

/* cards */

.media {
  margin-right: 25px;
  margin-top: 15px;
  margin-bottom: 14px;
  box-shadow: 10px 10px 5px #aaaaaa14;
}

.media-body {
  background: #ffffff;
  height: 57px;
  width: 146px;
}
.media-title {
  background: #ffffff;
  height: 57px;
  margin-right: 0;
  width: 84px;
  background-size: 84px, auto;
  background-repeat: no-repeat;
}

.media-title.mobile-dev-img {
  background-image: url("../public/assets/layer-115@3x.png");
}

.media-title.soft-eng-img {
  background-image: url("../public/assets/layer-114@3x.png");
}

.media .pull-left {
  margin-right: 0;
}

.media-object {
  width: 84%;
  margin-left: 11px;
  margin-top: 3px;
}

.title-object {
  width: 50%;
  margin: 13px;
}

/* extra coursePage styles */

.btn-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.textContainer {
  margin-left: auto;
  margin-right: auto;
  width: 42%;
}

.firstTextBox {
  display: flex;
  align-items: baseline;
}

.paddedContainer {
  padding: 30px;
}

.firstTitleBox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.firstTextBox,
.secondTextBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
}

.thirdTextBox{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: auto;
}

.thirdTextBox .btn-default {
  width: fit-content;
}

.inlineText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 225px;
}

.inlineText span {
  font-family: "Avenir-Heavy";
  color: #ee572a;
  font-size: 40px;
}

.inlineShort {
  width: 180px;
  text-align: left;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.para-style {
  font-family: "Avenir-Medium";
  font-size: 15px;
  color: #787878;
}

.section-header-style,
.firstTextBox h4,
.trial-container h4 {
  font-family: "Avenir-Heavy";
  font-size: 17px;
  margin-bottom: 25px;
}

.section-header-style,
.para-style {
  text-align: left;
}

.trial-container h4 {
  margin-bottom: 10px;
}

.firstRow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 17px;
}

.secondTextBox p {
  text-align: left;
}

.col-md-4 .row.basslineClass {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 17px;
}

.doubleBtn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.btn {
  font-family: "Avenir-Medium";
}

.btn.btn-default {
  color: #ee572a;
  background-color: none;
  border-color: #ee572a;
  border-radius: 6px !important;
  background: no-repeat;
  font-family: "Avenir-medium";
  margin: 10px;
}

.btn-group .btn-default {
  width: 242px;
}

.btn-group span.glyphicon {
  margin-left: 6px;
}

.jumboTopBtn {
  background-color: #ee572a;
  color: #ffffff;
  border-radius: 6px !important;
}

.selected {
  background-color: #ee572a !important;
  color: #ffffff !important;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Large desktops and laptops */
@media (min-width: 1200px) {
  .left .logo {
    background-image: url("../public/assets/url@3x.png");
    background-size: 140px, auto;
    background-repeat: no-repeat;
  }

  .nav-title.mobile-title {
    display: none;
  }

  .php-logo {
    background-image: url("../public/assets/beginner-php-fundamentals@3x.png");
    background-size: 140px, auto;
    background-repeat: no-repeat;
  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .left .logo {
    background-image: url("../public/assets/url@3x.png");
    background-size: 140px, auto;
    background-repeat: no-repeat;
  }

  .nav-title.mobile-title {
    display: none;
  }

  .navigation-bar {
    height: 6rem;
  }

  .jumboTopImg {
    height: 98px;
    width: 32%;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .left .logo {
    background-image: url("../public/assets/url@2x.png");
    background-size: 166px 27px;
    background-repeat: no-repeat;
  }

  .nav-title.mobile-title {
    display: none;
  }

  .navigation-bar {
    height: 8vh;
  }

  .trial-container {
    align-items: center;
  }

  .jumboTopImg {
    height: 83px;
    width: 20%;
  }

  .trial-container h4 {
    margin-left: 0;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .left .logo {
    background-image: url("../public/assets/url@2x.png");
    background-size: 166px 27px;
    background-repeat: no-repeat;
  }

  .nav-title.desktop-title {
    display: none;
  }

  .navigation-bar {
    height: 8vh;
  }

  .trial-container .cards {
    display: flex;
    flex-direction: column;
  }

  .trial-container {
    align-items: center;
  }

  .trial-container h4 {
    margin-left: 0;
  }

  .jumboTopImg {
    height: 101px;
    width: 33%;
    background-size: 111px, auto;
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  .left .logo {
    background-image: url("../public/assets/url.png");
    background-size: 108px, auto;
    background-repeat: no-repeat;
  }

  .logo {
    width: 110px;
  }

  .mobile-title h1 {
    font-size: 14px;
  }

  .img-circle {
    height: 21px;
  }

  .right .user-img {
    margin-right: 7px;
  }

  .navigation-bar {
    height: 4vh;
  }

  .trial-container .cards {
    display: flex;
    flex-direction: column;
  }

  .trial-container {
    align-items: center;
  }

  .trial-container h4 {
    margin-left: 0;
  }

  .jumboTopTitle h4 {
    font-size: 16px !important;
  }

  .bottomTitle {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }

  .jumboTopImg {
    background-size: 77px, auto;
    width: 33%;
    height: 53px;
  }
}
